PROJECT_NAME=Bankify
PROJECT_DESCRIPTION="Banking ERP system"
API_VERSION="api/v1"
SITE_NAME="Bankify Financial Solutions"
ENVIRONMENT=local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MAIL_FROM="noreply@gmail.com"
MAIL_FORM_NAME="Bankify"
SMTP_HOST="mailpit"
SMTP_PORT=1025
MAILPIT_PORT=8025
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
