PROJECT_NAME=Bankify
PROJECT_DESCRIPTION="Banking ERP system"
API_VERSION="api/v1"
SITE_NAME="Bankify Financial Solutions"
ENVIRONMENT=local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
